
<br>
<div class="holder">
  <h4 class="title">{{movie.title | uppercase}}</h4>
  <div [hidden] = "!flag">
    <img [src] = "movie.image" class="movie-image" (loadstart)="loadstart()" (load)="loadfinish()" >
  </div>
  <div [hidden] = "flag">
    <img src = "../../../assets/loading.jpg" class="movie-image" >
  </div>

  <br>
  <br>
  <span
    class="badge badge-warning"
    style="color: black; font-weight: normal; margin-left: 5px;"
    *ngFor="let genero of ( movie.genre | separator:'|' )">
    {{genero}}
  </span>
  <br>
  ({{movie.year}})
  <br>
  <div *ngFor="let disp of (movie.available | separator:','); let i = index">
    {{disp}} -> {{(movie.status | separator: ',')[i]}}
  </div>
  <br>
  {{movie.price}}
  <br>
  <a href="#" class="btn btn-warning">trailer</a>
  <br>
  <br>
  <a href="#" class="btn btn-primary">modificar</a>
  <a class="btn btn-danger" (click)="deleteMovie(movie.id)">eliminar</a>
</div>

