<div *ngIf="movie" class="row">
  <div class="col col-6">
    <app-detail
      [movie]="movie"
      [buttons]="false"
    ></app-detail>
  </div>
  <br>
  <form  (ngSubmit)="onSubmit()" #movieForm="ngForm">
    <div class="form-group">
      <label for="name">Titulo</label>
      <input type="text"
             class="form-control"
             id="name"
             name="name"
             required
             [(ngModel)]="movie.title"
              #name="ngModel">
    </div>
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        El titulo es requerido
    </div>
    <div class="form-group">
      <label for="image">Imagen</label>
      <input type="text"
             class="form-control"
             id="image"
             name="image"
             required
             [(ngModel)]="movie.image"
             #image="ngModel">
    </div>
    <div [hidden]="image.valid || image.pristine" class="alert alert-danger">
      La imagen es requerida
    </div>
    <div class="form-group">
      <label for="year">Año</label>
      <input type="text"
             class="form-control"
             id="year"
             name="year"
             required
             pattern="[0-9]+"
             [(ngModel)]="movie.year"
             #year="ngModel">
    </div>
    <div [hidden]="(year.valid || year.pristine)" class="alert alert-danger">
      El año es requerido
    </div>
    <div [hidden]="(year.valid || year.pristine)" class="alert alert-danger">
      longitud incorrecta
    </div>

    <div class="form-group">
      <label for="genre">Genero</label>
      <input type="text"
             class="form-control"
             id="genre"
             name="genre"
             required
             [(ngModel)]="movie.genre"
             #genre="ngModel">
    </div>
    <div [hidden]="genre.valid || genre.pristine" class="alert alert-danger">
      El genero es requerido
    </div>

    <div class="form-group">
      <label for="available">Disponible</label>
      <input type="text"
             class="form-control"
             id="available"
             name="available"
             required
             [(ngModel)]="movie.available"
             #available="ngModel">
    </div>
    <div [hidden]="available.valid || available.pristine" class="alert alert-danger">
      La disponibilidad es requerida
    </div>

    <div class="form-group">
      <label for="status">Status</label>
      <input type="text"
             class="form-control"
             id="status"
             name="status"
             required
             [(ngModel)]="movie.status"
             #stats="ngModel">
    </div>
    <div [hidden]="stats.valid || stats.pristine" class="alert alert-danger">
      La disponibilidad es requerida
    </div>

    <button [disabled]="!movieForm.form.valid" type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
